{% extends "base.html" %}

{% block content %}
<h1>
    Create Ads
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Ad Account</label>
        <input type="text" class="form-control" id="ad_account" name="ad_account" placeholder="Ad account" >
    </div>
    <div class="form-group">
        <label for="title">Page</label>
        <input type="text" class="form-control" id="page" name="page" placeholder="Choose a page" >
    </div>
    <div class="form-group">
        <label for="title">Ad name</label>
        <input type="text" class="form-control" id="ad_name" name="ad_name" placeholder="Name your ad" >
    </div>
    <div class="form-group">
        <label for="title">Bid</label>
        <input type="text" class="form-control" id="ad_bid" name="ad_bid" placeholder="Enter your bid amount" >
    </div>
    <div class="form-group">
        <label for="title">Targeting</label>
        <input type="text" class="form-control" id="ad_targeting" name="ad_targeting" placeholder="Select your targeting" >
    </div>
    <div class="form-group">
        <label for="title">Start time</label>
        <input type="text" class="form-control" id="start_time" name="start_time" placeholder="Select the time you want your ad to start" >
    </div>
    <div class="form-group">
        <label for="title">End time</label>
        <input type="text" class="form-control" id="end_time" name="end_time" placeholder="Select the time you want your ad to end" >
    </div>
    <div class="form-group">
        <label for="title">Url</label>
        <input type="text" class="form-control" id="ad_url" name="ad_url" placeholder="Enter the URL for your ad" >
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="ad_title_1" name="ad_title_1" placeholder="Enter the title for your ad" >
    </div>
    <div class="form-group">
        <label for="title">Title 2</label>
        <input type="text" class="form-control" id="ad_title_2" name="ad_title_2" placeholder="Enter a second title for your ad" >
    </div>
    <div class="form-group">
        <label for="title">Body</label>
        <input type="text" class="form-control" id="ad_body_1" name="ad_body_1" placeholder="Enter the description for your ad" >
    </div>
    <div class="form-group">
        <label for="title">Body 2</label>
        <input type="text" class="form-control" id="ad_body_2" name="ad_body_2" placeholder="Enter another description for your ad" required>
    </div>
    <div class="form-group">
        <label for="title">Image 1</label>
        <label class="custom-file">
        <input type="file" id="file" name="file_1" class="custom-file-input">
         <span class="custom-file-control"></span>
        </label>
    </div>
    
    <div class="form-group">
        <label for="title">Image 2</label>
        <label class="custom-file">
        <input type="file" id="file_2" name="file_2" class="custom-file-input">
        <span class="custom-file-control"></span>
        </label>
    </div>
    <div class="form-group">
        <label for="title">Image 3</label>
        <label class="custom-file">
        <input type="file" id="file_3" name="file_3" class="custom-file-input">
         <span class="custom-file-control"></span>
        </label>
    </div>

    <button type="submit" class="btn btn-default">Create ads</button>
</form>
{% endblock %}